*{
  margin:0;
  padding:0;
  box-sizing: border-box;
background-color: black;
}
header {
  padding: 20px 35px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }
  header a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 5vw;
  }
  header nav {
  
    margin: 7px 0;
  }
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 2.5vw;
  }

.main-section{

background-color: black;

}

.avatar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.img {
  flex: 1 50%;
  margin: 50px;
  justify-content:center;
}
.img img{
  width: 50%;
}
.avatar h1{
color: whitesmoke;
display: flex;
justify-content:space-between;
align-items:center;
font-weight: lighter;
font-size: 3vw;
width: 50%;
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.title h2{
  color: whitesmoke;
font-size: 3vw;

}
.paragraph p {
 color: whitesmoke;
 font-size: 2vw;
 display: flex;
 flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.title{
  width: 25%;
}
.paragraph{
  width: 75%;
}
.work{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
} 
.projects{
  width:75%;
  flex:1 50%;
}
.contact-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.contact-links{
  text-decoration: none;
  color: whitesmoke;
 
}
.contact-links ul{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
.contact-links ul li a {
  margin: 0 30px;
    font-weight: lighter;
    font-size: 2.5vw;
    color: whitesmoke;
}