*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
header {
  padding: 20px 35px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }
  header a {
    text-decoration: none;
    color: whitesmoke;
  }
  header nav {
  
    margin: 7px 0;
  }
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

.main-section{

background-color: black;

}

.avatar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.img {
  flex: 1 15%;
  
}
.img img{
  max-width: 50%;
}
.avatar h1{
color: whitesmoke;
display: flex;
justify-content:space-between;
align-items:center;
}