*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
header {
    padding: 20px 35px;
    background-color: rgb(113, 113, 13);
  }
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: lightgray;
    margin: 0;
    display: inline;
  }
  
  header a {
    text-decoration: none;
    color: lightgrey;
  }
  header nav {
    float: right;
    margin: 7px 0;
  }
  header nav ul li {
    display: inline;
  }
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
}
main{

}
.main-section {

}
.paragraph p {
    border :;
    padding: 20px; 
}
.work{

}
.contact-me {

}